.content {
  min-height: calc(100% - 90px);
  margin: 10px;
  background-color: var(--bg-col-secondary);
  border-radius: 4px;
  color: var(--txt-col-secondary);
  font-size: 18px;
  text-align: center;
  width: calc(100vw - 20px);
}

.contentRow {
  height: 100%;
}

.sectionImg {
  max-width: 100%;
  max-height: 300px;
}

.errorMsg {
  color: #772323;
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  .content {
    width: unset;
  }
}

@media screen and (min-width: 1920px) {
  .content {
    font-size: 30px;
  }

  .sectionImg {
    height: 600px;
    max-width: 100%;
    max-height: 600px;
  }
}