.home {
  min-height: calc(100% - 90px);
  margin: 10px;
  background-color: var(--bg-col-secondary);
  border-radius: 4px;
  color: var(--txt-col-secondary);
  font-size: 20px;
  text-align: center;
}

.home h2 {
  font-size: 40px;
  margin: 0;
}

.earthContainer {
  height: 70vh;
}

.earth {
  height: 100%;
  aspect-ratio: 1/1;
  background: url(../../assets/images/earth-satellite.jpeg);
  border-radius: 100%;
  background-size: cover;
  animation: spin 80s infinite linear;
}

@keyframes spin {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 200%; 
  }
}


@media screen and (min-width: 992px) {
  .home {
    height: calc(100% - 90px);
    text-align: left;
  }
}