.header {
  height: 60px;
  margin: 10px;
  background-color: var(--bg-col-secondary);
  border-radius: 4px;
  font-size: 20px;
  color: var(--txt-col-secondary);
}

.headerCenter {
  height: 30px;
  font-size: 30px;
}

.headerCenter h1 {
  font-size: 30px;
  margin: 0;
  font-family: "Zai";
}

.header a {
  color: var(--txt-col-secondary);
  text-decoration: none;
  height: 30px;
}

.headerRight,
.headerRight a {
  height: 20px;
}

.headerRight a:hover {
  color: gold;
}

/* Animazione BiChevronLeft */
@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Applica l'animazione alle icone */
.iconLeft {
  animation: slideLeft 1s infinite;
}

@media screen and (min-width: 768px) {
  .header {
    font-size: 30px;
  }

  .headerCenter,
  .headerCenter h1 {
    font-size: 40px;
  }

  .headerCenter {
    height: 40px;
  }

  .header a {
    height: 30px;
  }

  .headerRight,
  .headerRight a {
    height: 30px;
  }
}
