/* Modalità Normale */
:root {
  --bg-col-primary: #1181B2;
  --bg-col-secondary: #DDEDF4;
  --txt-col-primary: #DDEDF4;
  --txt-col-secondary: #212221;
}

/* Dark Mode */
body.dark-mode {
  --bg-col-primary: #212221;
  --bg-col-secondary: #1181B2;
  --txt-col-primary: #DDEDF4;
  --txt-col-secondary: #DDEDF4;
}

body {
  background-color: var(--bg-col-secondary);
}